body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "sideBar workspace workspace"
    "sideBar workspace workspace"
    "sideBar workspace workspace";
}
#side-bar {
  grid-area: sideBar;
}
#workspace-container {
  grid-area: workspace;
  display: grid;
  grid-template-columns: 325px 128px 190px 190px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  " meet . servers security"
  " reception . . ."
  " reception . staff vault";
  margin-left: 2%;
}
@media (max-width: 1023px) {
  body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "sideBar sideBar"
    "sideBar sideBar"
    "workspace workspace"
    "workspace workspace"
    "workspace workspace"
    "workspace workspace"
}
#side-bar {
  grid-area: sideBar;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.staffmember{
  margin-left: 2%;
}
.side-bar--container{
  min-width: 100%;
}
#container{
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profile{
  min-width: 80%;
}
#workspace-container {
  rotate: 90deg;
  grid-area: workspace;
  display: grid;
  grid-template-columns: 325px 128px 190px 190px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  " meet . servers security"
  " reception . . ."
  " reception . staff vault";
}
#open-modal{
  position:relative;
  bottom: 0;
  margin-top: 2%;
}
#modal{
  margin-top: 5%;
  max-width: 375px;
}
}
@media (min-width:1023px) and (max-width:1160px){
  #side-bar{
    margin: 2%;
    margin-top: 5%;
    position: relative;
    border-radius: 12px;
  }
  #open-modal{
    position:absolute;
    bottom: 0;
  }
  .staffmember{
  margin-left: 6%;
}
#container{
  height: 80%;
}
#modal{
  margin-top:5%;
  height: 400px;
}
#workspace-container{
  margin-left: 2%;
}
}
#meet {
  grid-area: meet;
}
#servers {
  grid-area: servers;
}
#security {
  grid-area: security;
}
#reception {
  grid-area: reception;
}
#staff {
  grid-area: staff;
}
#vault {
  grid-area: vault;
}
.edit{
  border: 1px solid white;
}
.edit:active{
  border: 1px solid black;
}