body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "sideBar workspace workspace"
    "sideBar workspace workspace"
    "sideBar workspace workspace";
}

#side-bar {
  grid-area: sideBar;
}
#workspace-container {
  grid-area: workspace;
  display: grid;
  grid-template-columns: 325px 128px 190px 190px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  " meet . servers security"
  " reception . . ."
  " reception . staff vault";
}

#meet {
  grid-area: meet;
}
#servers {
  grid-area: servers;
}
#security {
  grid-area: security;
}
#reception {
  grid-area: reception;
}
#staff {
  grid-area: staff;
}
#vault {
  grid-area: vault;
}
.edit{
  border: 1px solid white;
}
.edit:active{
  border: 1px solid black;
}